<h1>A-B</h1>

<div class="container">
  <div class="row">
    <div class="col-sm">
      Country
      <input type="text" [(ngModel)]="countryFilter" />
    </div>
    <div class="col-sm">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dpA" ngbDatepicker #datePickerA="ngbDatepicker" (dateSelect)="dateChanged()" [(ngModel)]="dateA" >
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="datePickerA.toggle()" type="button">
              <fa-icon [icon]="faCalendar"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dpB" ngbDatepicker #datePickerB="ngbDatepicker" (dateSelect)="dateChanged()" [(ngModel)]="dateB" >
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="datePickerB.toggle()" type="button">
              <fa-icon [icon]="faCalendar"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      Diff
    </div>
    <div class="col-sm">
      Increase
    </div>
  </div>

  <div class="row" *ngFor="let case of this.aggregate|countryFilter:countryFilter">
    <div class="col-sm">
      {{case.country}}
    </div>
    <div class="col-sm">
      {{case.a.Infected}}
    </div>
    <div class="col-sm">
      {{case.b.Infected}}
    </div>
    <div class="col-sm">
      {{case.diffInNumbers}}
    </div>
    <div class="col-sm">
      {{case.increaseInPercent}}%
    </div>
  </div>

</div>
