<p>dashboard works!</p>

<ngb-datepicker  (dateSelect)="dateAChanged($event)"></ngb-datepicker>
<ngb-datepicker  (dateSelect)="dateBChanged($event)"></ngb-datepicker>

<input type="text" [(ngModel)]="countryFilter" />
<h1>A</h1>
<ul>
    <li *ngFor="let case of this.caseNumbersA|countryFilter:countryFilter">
        {{case.Infected}}
        {{case.Country}}
    </li>
</ul>

<h1>B</h1>
<ul>
    <li *ngFor="let case of this.caseNumbersB|countryFilter:countryFilter">
        {{case.Infected}}
        {{case.Country}}
    </li>
</ul>